@font-face {
    font-family: GoodHeadline;
    src: url(./fonts/InriaSans-Regular.ttf);
  }

.wizard>.actions {
    display: none;
}

html * {
    font-family: 'Roboto', sans-ser;
}


.wizard>.content>.body {
    position: relative;
    width: 100%;
    background-color: #ffffff;
}

.flex-display {
    display: flex;
    justify-content: center;
}


.plans-card-deck {
    display: flex;
}

.plan-card {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.plan-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}


.images-size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.position-images {
    width: 100%;
    height: 80%;
}

.images-size:first-child::after {
    display: none;
}


.images-size::after {
    position: absolute;
    top: 6%;
    left: 0px;
    display: block;
    width: 1px;
    height: 60%;
    content: "";
    background: #000;
}


.card-title {
    margin-bottom: .75rem;
}

.display-4 {
    font-weight: 300;
    line-height: 1;
    display: flex;
    justify-content: center;
}

.btn-primary {
    font-weight: 500;
    color: white;
    background-color: #07872b;
    border-color: #07872b;
}

.card-body .btn:hover {
    color: white;
    background-color: #04571c;
    border-color: #044a18;
}

.btn-block {
    display: block;
    width: 100%;
}

.temp {
    display: flex;
    flex-direction: column;
}

.temp .btn {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
}

.list-item {
    cursor: pointer;
}

.subtitle {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1rem;
    letter-spacing: normal;
    color: #666;
    font-style: italic;
}

.specs {
    font-weight: 400;
    font-size: .75rem;
    line-height: .875rem;
    letter-spacing: normal;
    color: #757575;
}

.add-button {
    float: right;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.5rem;
    letter-spacing: normal;
    color: #ffffff;
    min-width: 4.5rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #07872b;
    height: 2.5rem;
    border: none;
    transition: box-shadow .2s, background-color .2s;
    border-radius: 0;
}

.title {
    font-weight: 400;
    line-height: 1.25rem;
    font-size: medium;
    color: #030;
}

.scrollable-date-picker {
    position: relative;
    max-height: 273px;
    overflow-x: hidden;
}

.date-item {
    position: relative;
    background: transparent;
}

.scrollable-date-picker .date-item:active {
    color: #030;
    background-color: white;
}

.date-picker .list-group-item:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem;
}

.date-picker .list-group-item:active {
    z-index: 2;
    border-left: 2px solid green;
    background-color: #fafafa;
    color: #030;
}

.img-wrapper {
    height: 50px;
    width: 70px;
    margin-left: 25px;
    padding: 2px;
}

.date-picker .active-list {
    border-left: 6px solid green;
    background-color: #fafafa;
    color: #030;
}



.date-picker .list-group-item:hover {
    transform: translateX(5px);
    z-index: 1;
    cursor: pointer;

}

.btn-primary.disabled,
.btn-primary:disabled {
    cursor: not-allowed;
    opacity: .65;
    color: #fff;
    background-color: #07872b;
    border-color: #07872b;

}

.btn-primary:hover {
    background-color: #030;
}

.card-scroll {
    max-height: calc(100vh - 70px);
    overflow-x: auto !important;
    overflow-y: scroll !important;
}

.add-promo-code {
    color: #07872b;
}

.add-promo-code:hover {
    color: #04571c;
    cursor: pointer;
}

.small {
    font-size: 16px;
    font-weight: 300;
}

#checkout_container .form-control {
    border: 1px solid #666;
    border-radius: 2px;
}

.delivery-address {
    color: #333333;
    letter-spacing: .25px;
    line-height: 1.5rem;
    padding-top: 1.5rem;
    font-size: 1.2rem;
}

.check-out {
    color: #030;
    font-family: GoodHeadline;
    font-size: 1.5rem;
}
.meal-order-summary {
    color: #030;
    font-family: GoodHeadline;
    font-size: 1.5rem;
}

.choose-plan {
    color: #030;
    font-family: GoodHeadline;
    font-size: 32px;
}

.delivery-select {
    cursor: pointer;
}

.wizard>.content>.body {
    padding: 0 !important;
}

.meal-wrapper {
    width: calc(100% - 320px);
}

.cart-wrapper {
    position: relative;
    width: 320px;
    height: calc(100vh - 70px);
}

.cart-footer {
    position: absolute;
    bottom: 0;
}

.cart-footer .btn {
    float: right;
}

.btn-link {
    font-weight: 300;
    color: #07872b;
    background-color: transparent;
}

.btn-link:hover {
    color: #030;
    background-color: transparent;
    border-color: transparent;
}

.cart-footer-counter {
    font-weight: 400;
    font-family: Roboto;
    font-size: 1.125rem;
    line-height: 1.25rem;
    letter-spacing: normal;
    color: #030;
}

.custom-font {
    font-family: GoodHeadline;
}

.cart-custom-font {
    font-family: Roboto;
    font-size: 16px;
}

.custom-font-cart-list {
    font-family: GoodHeadline;
    font-size: 1.2rem;
    color: #030;
}

.custon-font-size {
    font-size: 1rem;
    font-family: Roboto;
    line-height: 1.5rem;
    font-weight: 500;
}

.my-meals {
    font-family: GoodHeadline;
    color: #030;
    font-size: 24px;
}

.total-price {
    font-family: Roboto;
    font-size: 16px;
    color: #030;
}

.custom-font-size {
    font-size: 1.2rem;
}